.calc-container{
    max-width: 100%;
    width: 160px;
    border:  solid black 1px;
    padding: 10px;

}

.calc-preview{
    background-color: white;
    max-width: 100%;
    margin-bottom: 1000px;
    
}

.btn-container{
    max-width: 100%;
    width: 150px;
    
    align-content: center;
   
}

.calc-btn{
    padding: 10px;
    margin-bottom: 10px;
}
